header {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

.header-icon > img {
  width: 35px;
  height: 35px;
}

.header-title {
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* gap은 사용해야 할 상부요소(?)에 써야 작동됨 */
  /* absolute relative 처럼 */
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
